body{
  height: 1100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url(images/images.jpeg)
}
.container{
  margin-top: 10%;
  padding-top: 3%;
  padding-bottom: 5%;
}
.system{
  margin-left: 5%;
  font-size: 20px;
  margin-top: 4%;
  color: black;
}
 h1 {
   font-weight: bolder;
   text-align: center;
   color: white;
   margin-bottom: 0px;
   margin-top: 10px;
   padding-bottom: 2px;
   font-size: 48px;
   text-shadow: 2px 2px 5px black;
   
 }
 .overlay{
   background-color:gray;
   margin-left: 25%;
   margin-right: 16%;
   opacity: 0.9;
   border-radius: 10px;
 }
 h2{
   text-align: center;
   font-weight: bold;
   color:rgb(255, 255, 255);
   font-family: 'Quattrocento', serif;
 }
 .form{
   margin-bottom: 20px;
   padding-bottom: 20px;
 }
